body {
  background-color: #343a40;
  margin: 0;
  padding: 0; 
  color: white;
  font-family: "Roboto Mono", monospace;
}
html, body {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}



.welcome {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

.topnav {
  background-color: #212529;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #495057;
  color: white;
}

.info {
  margin: 0 auto;
  margin-top: 50px;
  border: 5px solid white;  
  font-size: 25px;
  color: white;
  width: 70%;


}

.infodane {
  text-align: center;
  overflow: hidden;
}

.przeciwdzialanie{
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0;
  line-height: 40px;
}
.listainfo{
  margin-left: 10px;
  font-size: 90%;
  line-height: 50px;
  
}
.blink {
  border-right: 0.15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  animation: blink-caret 0.75s step-end infinite;
}

/*ANIMACJA MRUGANIA */

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

/* ANIMACJA SLIDE'OW*/
.container {
  width: 85vmin;
  display: flex;
  position: absolute;
  transform: translate(-50%,-50%);
  overflow: hidden;
  top: 50%;
  left: 50%;
}
.wrapper {
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}
.slide {
  width: 100%;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
